certifi
Chameleon
chardet
hupper
idna
isodate
Mako
MarkupSafe
PasteDeploy
plaster
plaster-pastedeploy
Pygments
pyparsing
pyramid
pyramid-chameleon
pyramid-debugtoolbar
pyramid-mako
rdflib
rdflib-jsonld
repoze.lru
requests
six
translationstring
urllib3
venusian
waitress
WebOb
zope.deprecation
zope.interface
